In [178]:
import numpy as np
import pandas as pd

In [179]:
df1 = pd.read_csv('text.csv')

In [180]:
df1

                                            Document      Class
0         Teclov is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [181]:
df1['Class'] = df1.Class.map({'cinemaa':0, 'education':1})
df1

                                            Document  Class
0         Teclov is a great educational institution.    1.0
1            Educational greatness depends on ethics    1.0
2  A story of great ethics and educational greatness    1.0
3                           Sholey is a great cinema    NaN
4                   good movie depends on good story    NaN

In [182]:
X= df1['Document'].to_numpy()
Y = df1['Class'].to_numpy()
y = Y.astype('int')

In [183]:
print("X")
print(X)
print("y")
print(y)

X
['Teclov is a great educational institution.'
 'Educational greatness depends on ethics'
 'A story of great ethics and educational greatness'
 'Sholey is a great cinema' 'good movie depends on good story']
y
[                   1                    1                    1
 -9223372036854775808 -9223372036854775808]

In [184]:
from sklearn.feature_extraction.text import CountVectorizer
vector = CountVectorizer( )

In [185]:
vector.fit(X)
vector.vocabulary_

{'teclov': 15,
 'is': 9,
 'great': 6,
 'educational': 3,
 'institution': 8,
 'greatness': 7,
 'depends': 2,
 'on': 12,
 'ethics': 4,
 'story': 14,
 'of': 11,
 'and': 0,
 'sholey': 13,
 'cinema': 1,
 'good': 5,
 'movie': 10}

In [186]:

vector = CountVectorizer(stop_words='english' )
vector.fit(X)
vector.vocabulary_

{'teclov': 11,
 'great': 5,
 'educational': 2,
 'institution': 7,
 'greatness': 6,
 'depends': 1,
 'ethics': 3,
 'story': 10,
 'sholey': 9,
 'cinema': 0,
 'good': 4,
 'movie': 8}

In [187]:
 print(vector.get_feature_names_out())
 print(len(vector.get_feature_names_out()))

['cinema' 'depends' 'educational' 'ethics' 'good' 'great' 'greatness'
 'institution' 'movie' 'sholey' 'story' 'teclov']
12

In [188]:
X_transformed=vector.transform(X)
print(X_transformed)

  (0, 2)	1
  (0, 5)	1
  (0, 7)	1
  (0, 11)	1
  (1, 1)	1
  (1, 2)	1
  (1, 3)	1
  (1, 6)	1
  (2, 2)	1
  (2, 3)	1
  (2, 5)	1
  (2, 6)	1
  (2, 10)	1
  (3, 0)	1
  (3, 5)	1
  (3, 9)	1
  (4, 1)	1
  (4, 4)	2
  (4, 8)	1
  (4, 10)	1

In [189]:
X=X_transformed.toarray()
X

array([[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0]])

In [190]:
df=pd.DataFrame(X, columns=vector.get_feature_names_out())
print(df)

   cinema  depends  educational  ethics  good  great  greatness  institution  \
0       0        0            1       0     0      1          0            1
1       0        1            1       1     0      0          1            0
2       0        0            1       1     0      1          1            0
3       1        0            0       0     0      1          0            0
4       0        1            0       0     2      0          0            0

   movie  sholey  story  teclov
0      0       0      0       1
1      0       0      0       0
2      0       0      1       0
3      0       1      0       0
4      1       0      1       0

In [191]:
df2 = pd.read_csv('test_text.csv') 
df2

                            Document  Class
0  very good educational institution      1

In [192]:
test_numpy_array = df2.to_numpy()
X_test = test_numpy_array[:,0]
y_test = test_numpy_array[:,1]
y_test = y_test.astype('int')
print("X_test")
print(X_test)
print("y_test")
print(y_test)

X_test
['very good educational institution']
y_test
[1]

In [193]:
X_test_transformed=vector.transform(X_test)

In [194]:
X_test=X_test_transformed.toarray()
X_test

array([[0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]])

In [195]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()

mnb.fit(X,y)

mnb.predict_proba(X_test)

array([[0.32808399, 0.67191601]])

In [196]:
from sklearn.metrics import accuracy_score
y_prediction = mnb.predict(X_test)


acc = accuracy_score(y_test, y_prediction)


print("Accuracy:", acc)

Accuracy: 1.0